@use './variables.scss' as *;

.container {
    margin: $space-1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-form-group,
.task-header {
    display: flex;
    justify-content: space-between;
}

.circle {
    border: 1px solid #000000;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;

    background-color: #ffffff;
    cursor: pointer;
}

input[type='radio']:checked + .circle {
    border-width: 2px;
}

.task-form-list {
    max-height: 150px;
    overflow-y: scroll;
}

input[type='checkbox']:checked + .circle.F0FBFF {
    background-color: #06afed;
}

input[type='checkbox']:checked + .circle.F5F0FF {
    background-color: #4001be;
}

input[type='checkbox']:checked + .circle.FFF0FA {
    background-color: #c10080;
}

.task-list-item {
    display: flex;
    align-items: center;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task {
    padding: $space-1 $space-1 $space-2 $space-1;
    width: 100%;

    color: #000000;
}

@media (min-width: 1000px) {
    .container {
        margin: $space-1 auto;
        max-width: 1000px;
    }

    .task {
        width: 49%;
    }
}
