@use './variables.scss' as *;

.container {
    margin: $space-1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    .container {
        margin: $space-1 auto;
        max-width: 1000px;
    }
}
