.dark,
.dark input,
.dark textarea {
    background-color: #222222;
    color: #ffffff;
}

.dark input,
.dark textarea {
    border-color: #ffffff;
}

.dark .task-form button {
    color: #ffffff;
}

.dark svg {
    fill: #ffffff;
}

.dark .task svg {
    fill: #000000;
}
